.youtube-window {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fff;
}
#youtube-window{
  display: none;
}
.youtube-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ff0000;
  border: 2px solid #000;
  color: white;
}
.profile{
  display: flex;
  gap: 10px;
  align-items: center;
}
.profile img{
  height: 25px;
  width: 25px;
  border-radius: 50px;
}
.youtube-title{
  color: white;
}
.youtube-main{
  display: flex;
  flex-direction: row;
  height: 540px;
}
.video {
  flex: 2;
  background-color: #e0e0e0;
  padding: 15px;
  
  border: 2px solid #000;
}
.video h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #0000ff;
}
.youtube-video {
  width: 100%;
  height: 350px;
  border: 2px solid #000;
  margin-bottom: 6px;
}
iframe{
  height: 350px;
  width: 100%;
}
.youtube-tab a{
  color: white;
  text-decoration: none;
}
.youtube-tab a:hover{
  color: black;
}
.sidebar {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
  background-color: #f0f0f0;
  border: 2px solid #000;
}
.comments{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.channel-details{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.channel-details,
.comments,
.ads {
  margin-bottom: 20px;
}
.ads {
  background-color: #ffcc00;
    padding: 10px;
    text-align: center;
    border: 2px solid #000;
    height: 75%;

}
.ads h3{
  margin-bottom: 12px;
}
.ads p{
  margin-bottom: 12px;
}
.ads-banner img{
  width: 100%;
  height: 100%;
}